In [1]:

# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np

import time
from api_key import api_key

In [2]:
# Save path to data set in a variable
Diab2011_data = "2011Diab.csv"
Diab2016_data = "2016Diab.csv"
Diab2021_data = "2021Diab.csv"

In [3]:
# Use Pandas to read 2011 data
Diab2011_df = pd.read_csv(Diab2011_data)
Diab2011_df.head()

,FIPS,State,County,Population,< 18,65 and over,African American,American Indian/ Alaskan Native,Asian,Native Hawaiian/ Other Pacific Islander,...,Population.4,Illiteracy,95% CI - Low.4,95% CI - High.4,Population.5,Liquor Stores,Liquor Store Rate,No. Drive Alone,Workers,% Drive Alone
0,17000,Illinois,NaN,12910409,24.6,12.4,14.5,0.2,4.4,0.0,...,9507861,12.9,10.4,16.6,12842954,1289,10,4374646,5952465,74
1,17001,Illinois,Adams,67054,22.7,17.7,3.5,0.2,0.5,0.0,...,51098,7.9,3.7,14.4,66895,1,1,26847,32620,82
2,17003,Illinois,Alexander,7914,23.5,18.5,33.3,0.3,0.5,0.0,...,6789,15.3,7.4,26.7,8112,2,25,2491,2976,84
3,17005,Illinois,Bond,18103,20.3,14.7,7.3,0.5,0.3,0.0,...,12637,8.6,4.0,15.8,18185,1,5,6882,8222,84
4,17007,Illinois,Boone,54020,29.2,11.4,2.6,0.4,1.4,0.0,...,34823,10.8,5.2,19.4,53892,5,9,18880,22822,83

In [4]:
# Use Pandas to read 2011 data
Diab2016_df = pd.read_csv(Diab2016_data)
Diab2016_df.head()

,FIPS,State,County,# Deaths,Age-Adjusted Mortality,95% CI - Low,95% CI - High,# Deaths.1,Child Mortality Rate,95% CI - Low.1,...,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low.12,95% CI - High.12,% Female,# Rural,% Rural,Unnamed: 84
0,17000.0,Illinois,NaN,130047.0,321.0,319.0,323.0,6516.0,53.0,52.0,...,8022946.0,62.3,566446.0,4.7,4.6,4.8,50.9,1477079.0,11.5,NaN
1,17001.0,Illinois,Adams,779.0,337.0,313.0,362.0,24.0,39.0,25.0,...,61897.0,92.4,229.0,0.4,0.1,0.6,51.1,21875.0,32.6,NaN
2,17003.0,Illinois,Alexander,135.0,463.0,382.0,544.0,NaN,NaN,NaN,...,4406.0,58.8,9.0,0.1,0.0,1.1,49.7,5096.0,61.9,NaN
3,17005.0,Illinois,Bond,206.0,345.0,297.0,393.0,NaN,NaN,NaN,...,15165.0,87.8,66.0,0.4,0.0,0.9,47.3,10792.0,60.7,NaN
4,17007.0,Illinois,Boone,486.0,280.0,255.0,305.0,24.0,40.0,26.0,...,40096.0,74.4,2175.0,4.3,3.3,5.3,50.2,10488.0,19.4,NaN

In [5]:
# Use Pandas to read 2011 data
Diab2021_df = pd.read_csv(Diab2021_data)
Diab2021_df.head()

,FIPS,State,County,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (AIAN),Life Expectancy (AIAN) 95% CI - Low,Life Expectancy (AIAN) 95% CI - High,Life Expectancy (Asian),...,# Non-Hispanic White,% Non-Hispanic White,# Not Proficient in English,% Not Proficient in English,95% CI - Low.20,95% CI - High.20,% Female,# Rural,% Rural,Unnamed: 276
0,17000,Illinois,NaN,79.4,79.3,79.4,115.1,101.6,128.7,89.6,...,7702651,60.8,495487,4,4.0,4.0,50.9,1477079,11.5,NaN
1,17001,Illinois,Adams,78.3,77.6,78.9,NaN,NaN,NaN,NaN,...,59810,91.4,101,0,0.0,0.0,50.7,21875,32.6,NaN
2,17003,Illinois,Alexander,73.5,71.1,75.9,NaN,NaN,NaN,NaN,...,3672,63.7,6,0,NaN,NaN,51.4,5096,61.9,NaN
3,17005,Illinois,Bond,78.6,77.1,80.0,NaN,NaN,NaN,NaN,...,14354,87.4,23,0,0.0,1.0,48.1,10792,60.7,NaN
4,17007,Illinois,Boone,79.7,78.9,80.5,NaN,NaN,NaN,NaN,...,38474,71.9,1747,3,3.0,4.0,50.0,10488,19.4,NaN

In [6]:
# Filter the 2011 data to FIPS, State, County, % Diabetes, and Population Columns
Diab2011_filtered_df = Diab2011_df[  ["FIPS","State","County","% Diabetic","Population" ]  ]
Diab2011_filtered_df.head()

    FIPS     State     County  % Diabetic  Population
0  17000  Illinois        NaN           7    12910409
1  17001  Illinois      Adams           9       67054
2  17003  Illinois  Alexander          11        7914
3  17005  Illinois       Bond           9       18103
4  17007  Illinois      Boone           7       54020

In [7]:
# Filter the 2016 data to FIPS, State, County, % Diabetes, and Population Columns
Diab2016_filtered_df = Diab2016_df[  ["FIPS","State","County","% Diabetic","Population" ]  ]
Diab2016_filtered_df.head()

      FIPS     State     County  % Diabetic  Population
0  17000.0  Illinois        NaN        10.0  12880580.0
1  17001.0  Illinois      Adams        10.0     66988.0
2  17003.0  Illinois  Alexander        16.0      7492.0
3  17005.0  Illinois       Bond        10.0     17269.0
4  17007.0  Illinois      Boone        10.0     53869.0

In [8]:
# Filter the 2021 data to FIPS, State, County, % Diabetes, and Population Columns
Diab2021_filtered_df = Diab2021_df[  ["FIPS","State","County","% Adults with Diabetes","Population" ]  ]

# rename the % Adults with Diabetes column for consistency with 2011 and 2016
Diab2021_filtered_df = Diab2021_filtered_df.rename( columns = {"% Adults with Diabetes":"% Diabetic"} )
Diab2021_filtered_df.head()

    FIPS     State     County  % Diabetic  Population
0  17000  Illinois        NaN          10    12671821
1  17001  Illinois      Adams          13       65435
2  17003  Illinois  Alexander           5        5761
3  17005  Illinois       Bond           7       16426
4  17007  Illinois      Boone           9       53544

In [9]:
#Add a year column to each dataframe


Diab2011_filtered_df.loc[:,['Year']] = 2011
Diab2016_filtered_df.loc[:,['Year']] = 2016
Diab2021_filtered_df.loc[:,['Year']] = 2021

C:\Users\mpk99\Anaconda3\envs\PythonData38\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [10]:
# Verify year column added correctly
Diab2011_filtered_df.head()

    FIPS     State     County  % Diabetic  Population  Year
0  17000  Illinois        NaN           7    12910409  2011
1  17001  Illinois      Adams           9       67054  2011
2  17003  Illinois  Alexander          11        7914  2011
3  17005  Illinois       Bond           9       18103  2011
4  17007  Illinois      Boone           7       54020  2011

In [11]:
c

      FIPS     State     County  % Diabetic  Population  Year
0  17000.0  Illinois        NaN        10.0  12880580.0  2016
1  17001.0  Illinois      Adams        10.0     66988.0  2016
2  17003.0  Illinois  Alexander        16.0      7492.0  2016
3  17005.0  Illinois       Bond        10.0     17269.0  2016
4  17007.0  Illinois      Boone        10.0     53869.0  2016

In [12]:
Diab2021_filtered_df.head()

    FIPS     State     County  % Diabetic  Population  Year
0  17000  Illinois        NaN          10    12671821  2021
1  17001  Illinois      Adams          13       65435  2021
2  17003  Illinois  Alexander           5        5761  2021
3  17005  Illinois       Bond           7       16426  2021
4  17007  Illinois      Boone           9       53544  2021

In [13]:
# now combine the three dataframes into one by doing a union via concatenation
# https://datatofish.com/union-pandas-dataframes/

# start with combining 2011 and 2016

Diab2011_2016_df = pd.concat([Diab2011_filtered_df, Diab2016_filtered_df])
Diab2011_2016_df

        FIPS     State      County  % Diabetic  Population  Year
0    17000.0  Illinois         NaN         7.0  12910409.0  2011
1    17001.0  Illinois       Adams         9.0     67054.0  2011
2    17003.0  Illinois   Alexander        11.0      7914.0  2011
3    17005.0  Illinois        Bond         9.0     18103.0  2011
4    17007.0  Illinois       Boone         7.0     54020.0  2011
..       ...       ...         ...         ...         ...   ...
100  17199.0  Illinois  Williamson        10.0     67008.0  2016
101  17201.0  Illinois   Winnebago        11.0    288542.0  2016
102  17203.0  Illinois    Woodford         9.0     39187.0  2016
103      NaN       NaN         NaN         NaN         NaN  2016
104      NaN       NaN         NaN         NaN         NaN  2016

[208 rows x 6 columns]

In [14]:
# add 2021
Diab2011_2016_2021_df = pd.concat([Diab2011_2016_df, Diab2021_filtered_df])
Diab2011_2016_2021_df

        FIPS     State      County  % Diabetic  Population  Year
0    17000.0  Illinois         NaN         7.0  12910409.0  2011
1    17001.0  Illinois       Adams         9.0     67054.0  2011
2    17003.0  Illinois   Alexander        11.0      7914.0  2011
3    17005.0  Illinois        Bond         9.0     18103.0  2011
4    17007.0  Illinois       Boone         7.0     54020.0  2011
..       ...       ...         ...         ...         ...   ...
98   17195.0  Illinois   Whiteside        15.0     55175.0  2021
99   17197.0  Illinois        Will        10.0    690743.0  2021
100  17199.0  Illinois  Williamson        13.0     66597.0  2021
101  17201.0  Illinois   Winnebago        11.0    282572.0  2021
102  17203.0  Illinois    Woodford        11.0     38459.0  2021

[311 rows x 6 columns]

In [15]:
# Clean up Diab2011_2016_2021_df to remove na
Diab2011_2016_2021_df.dropna(how='any')

        FIPS     State      County  % Diabetic  Population  Year
1    17001.0  Illinois       Adams         9.0     67054.0  2011
2    17003.0  Illinois   Alexander        11.0      7914.0  2011
3    17005.0  Illinois        Bond         9.0     18103.0  2011
4    17007.0  Illinois       Boone         7.0     54020.0  2011
5    17009.0  Illinois       Brown         8.0      6591.0  2011
..       ...       ...         ...         ...         ...   ...
98   17195.0  Illinois   Whiteside        15.0     55175.0  2021
99   17197.0  Illinois        Will        10.0    690743.0  2021
100  17199.0  Illinois  Williamson        13.0     66597.0  2021
101  17201.0  Illinois   Winnebago        11.0    282572.0  2021
102  17203.0  Illinois    Woodford        11.0     38459.0  2021

[306 rows x 6 columns]

In [16]:
Diab2011_2016_2021_df["% Diabetic"].max()

20.0

In [17]:
Diab2011_2016_2021_df["Population"].max()

12910409.0

In [18]:
# Now add a Diabetic Population column (% Diabetic * Population) as it may be useful for analysis

Diab2011_2016_2021_df["Diabetic Population"] = round(1/100 * \
    Diab2011_2016_2021_df["% Diabetic"] * Diab2011_2016_2021_df["Population"],0)

In [19]:
Diab2011_2016_2021_df

,FIPS,State,County,% Diabetic,Population,Year,Diabetic Population
0,17000.0,Illinois,NaN,7.0,12910409.0,2011,903729.0
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0
...,...,...,...,...,...,...,...
98,17195.0,Illinois,Whiteside,15.0,55175.0,2021,8276.0
99,17197.0,Illinois,Will,10.0,690743.0,2021,69074.0
100,17199.0,Illinois,Williamson,13.0,66597.0,2021,8658.0
101,17201.0,Illinois,Winnebago,11.0,282572.0,2021,31083.0
102,17203.0,Illinois,Woodford,11.0,38459.0,2021,4230.0

In [20]:
Diab2011_2016_2021_df.dtypes

FIPS                   float64
State                   object
County                  object
% Diabetic             float64
Population             float64
Year                     int64
Diabetic Population    float64
dtype: object

In [21]:
# Now bring in the fast food restaurant data that was compiled in the fast food notebook:

fast_food_11_16_21_data = "fast_food_11_16_21.csv"
fast_food_11_16_21_df = pd.read_csv(fast_food_11_16_21_data)
fast_food_11_16_21_df.head()

   Unnamed: 0  Restaurant Count   FIPS  Year
0           0                 2  17009  2011
1           1                23  17055  2011
2           2                11  17181  2011
3           3                 7  17187  2011
4           4                 3  17139  2011

In [22]:
fast_food_11_16_21_df.dtypes

Unnamed: 0          int64
Restaurant Count    int64
FIPS                int64
Year                int64
dtype: object

In [23]:
# make a merge key in both data frames to prep for merging...merging on both FIPS number and Year
# making FIPS a string in order to make the string key

Diab2011_2016_2021_df["FIPS str"] = Diab2011_2016_2021_df["FIPS"].astype("str")
Diab2011_2016_2021_df["merge_key"] = Diab2011_2016_2021_df["FIPS str"].str[:5] + Diab2011_2016_2021_df["Year"].astype("str")
Diab2011_2016_2021_df

,FIPS,State,County,% Diabetic,Population,Year,Diabetic Population,FIPS str,merge_key
0,17000.0,Illinois,NaN,7.0,12910409.0,2011,903729.0,17000.0,170002011
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0,17001.0,170012011
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0,17003.0,170032011
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0,17005.0,170052011
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0,17007.0,170072011
...,...,...,...,...,...,...,...,...,...
98,17195.0,Illinois,Whiteside,15.0,55175.0,2021,8276.0,17195.0,171952021
99,17197.0,Illinois,Will,10.0,690743.0,2021,69074.0,17197.0,171972021
100,17199.0,Illinois,Williamson,13.0,66597.0,2021,8658.0,17199.0,171992021
101,17201.0,Illinois,Winnebago,11.0,282572.0,2021,31083.0,17201.0,172012021
102,17203.0,Illinois,Woodford,11.0,38459.0,2021,4230.0,17203.0,172032021

In [24]:
# making merge key in the fast food dataframe

fast_food_11_16_21_df["FIPS str"] = fast_food_11_16_21_df["FIPS"].astype("str")
fast_food_11_16_21_df["merge_key"] = fast_food_11_16_21_df["FIPS str"].str[:5] + fast_food_11_16_21_df["Year"].astype("str")
fast_food_11_16_21_df

     Unnamed: 0  Restaurant Count   FIPS  Year FIPS str  merge_key
0             0                 2  17009  2011    17009  170092011
1             1                23  17055  2011    17055  170552011
2             2                11  17181  2011    17181  171812011
3             3                 7  17187  2011    17187  171872011
4             4                 3  17139  2011    17139  171392011
..          ...               ...    ...   ...      ...        ...
293         293                26  17195  2021    17195  171952021
294         294               366  17197  2021    17197  171972021
295         295                38  17199  2021    17199  171992021
296         296               195  17201  2021    17201  172012021
297         297                14  17203  2021    17203  172032021

[298 rows x 6 columns]

In [25]:
# Now merge in the fast food restaurant count data into the diabetes dataframe

merge_diab_fastfood_df = pd.merge(Diab2011_2016_2021_df, fast_food_11_16_21_df, how="left", on="merge_key")
merge_diab_fastfood_df

,FIPS_x,State,County,% Diabetic,Population,Year_x,Diabetic Population,FIPS str_x,merge_key,Unnamed: 0,Restaurant Count,FIPS_y,Year_y,FIPS str_y
0,17000.0,Illinois,NaN,7.0,12910409.0,2011,903729.0,17000.0,170002011,NaN,NaN,NaN,NaN,NaN
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0,17001.0,170012011,71.0,31.0,17001.0,2011.0,17001
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0,17003.0,170032011,70.0,0.0,17003.0,2011.0,17003
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0,17005.0,170052011,12.0,7.0,17005.0,2011.0,17005
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0,17007.0,170072011,23.0,26.0,17007.0,2011.0,17007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,17195.0,Illinois,Whiteside,15.0,55175.0,2021,8276.0,17195.0,171952021,293.0,26.0,17195.0,2021.0,17195
307,17197.0,Illinois,Will,10.0,690743.0,2021,69074.0,17197.0,171972021,294.0,366.0,17197.0,2021.0,17197
308,17199.0,Illinois,Williamson,13.0,66597.0,2021,8658.0,17199.0,171992021,295.0,38.0,17199.0,2021.0,17199
309,17201.0,Illinois,Winnebago,11.0,282572.0,2021,31083.0,17201.0,172012021,296.0,195.0,17201.0,2021.0,17201
310,17203.0,Illinois,Woodford,11.0,38459.0,2021,4230.0,17203.0,172032021,297.0,14.0,17203.0,2021.0,17203

In [26]:
# select the columns we want

diab_fastfood_df = merge_diab_fastfood_df.loc[ :, [ "FIPS_x", "State", "County", "% Diabetic", "Population", "Year_x", "Diabetic Population","Restaurant Count"]]
diab_fastfood_df

,FIPS_x,State,County,% Diabetic,Population,Year_x,Diabetic Population,Restaurant Count
0,17000.0,Illinois,NaN,7.0,12910409.0,2011,903729.0,NaN
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0,31.0
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0,0.0
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0,7.0
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0,26.0
...,...,...,...,...,...,...,...,...
306,17195.0,Illinois,Whiteside,15.0,55175.0,2021,8276.0,26.0
307,17197.0,Illinois,Will,10.0,690743.0,2021,69074.0,366.0
308,17199.0,Illinois,Williamson,13.0,66597.0,2021,8658.0,38.0
309,17201.0,Illinois,Winnebago,11.0,282572.0,2021,31083.0,195.0
310,17203.0,Illinois,Woodford,11.0,38459.0,2021,4230.0,14.0

In [27]:
# clean up the column names

diab_fastfood_rename_df = diab_fastfood_df.rename(columns={"FIPS_x":"FIPS","Year_x":"Year"})
diab_fastfood_rename_df

,FIPS,State,County,% Diabetic,Population,Year,Diabetic Population,Restaurant Count
0,17000.0,Illinois,NaN,7.0,12910409.0,2011,903729.0,NaN
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0,31.0
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0,0.0
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0,7.0
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0,26.0
...,...,...,...,...,...,...,...,...
306,17195.0,Illinois,Whiteside,15.0,55175.0,2021,8276.0,26.0
307,17197.0,Illinois,Will,10.0,690743.0,2021,69074.0,366.0
308,17199.0,Illinois,Williamson,13.0,66597.0,2021,8658.0,38.0
309,17201.0,Illinois,Winnebago,11.0,282572.0,2021,31083.0,195.0
310,17203.0,Illinois,Woodford,11.0,38459.0,2021,4230.0,14.0

In [28]:
# some 2021 fast food counts come in blank, as counties with 0 restaurants did not get brought into the 2021 yelp data.
# this is creating nan restaurant counts for some counties in 2021.  Therefore, filling those with 0's

diab_fastfood_rename_df["Restaurant Count"] = diab_fastfood_rename_df["Restaurant Count"].fillna(0)
diab_fastfood_rename_df.head()

,FIPS,State,County,% Diabetic,Population,Year,Diabetic Population,Restaurant Count
0,17000.0,Illinois,NaN,7.0,12910409.0,2011,903729.0,0.0
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0,31.0
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0,0.0
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0,7.0
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0,26.0

In [29]:
# now removing any rows that have blanks (for example FIPS 17000 which is the entire state and not a county)

# THIS IS THE DATAFRAME TO PLOT AND ANALYZE WITH


diab_fastfood_clean_df = diab_fastfood_rename_df.dropna(how='any') 
diab_fastfood_clean_df.head()

,FIPS,State,County,% Diabetic,Population,Year,Diabetic Population,Restaurant Count
1,17001.0,Illinois,Adams,9.0,67054.0,2011,6035.0,31.0
2,17003.0,Illinois,Alexander,11.0,7914.0,2011,871.0,0.0
3,17005.0,Illinois,Bond,9.0,18103.0,2011,1629.0,7.0
4,17007.0,Illinois,Boone,7.0,54020.0,2011,3781.0,26.0
5,17009.0,Illinois,Brown,8.0,6591.0,2011,527.0,2.0

In [30]:
# Export the dataframe to csv
diab_fastfood_clean_df.to_csv("diab_fastfood_clean_df.csv")